.hero {
  box-shadow: 0px 0px 20px 20px #daeaef;
  border-radius: 2px;
}

.card-obj {
background: #daeaef;
color: #939393;
border-radius: 10px;
height: 100%;
}
.tarjeta-img {
width: 5rem;
}
.tarjeta-img3{
    width: 5rem;

}

.box{
    background: #939393;

}
.leer {
background: #a6bec9;
color: white;
border-radius: 5px;
border: none;
padding: 6px 15px;

}

.desafios-text {
  max-width: 900px;
}

.desafio-banner {
 width: 100%;
  background-color: #a6bec9;
  color: white;
  padding: 18px 10px;
  font-size: 15px;
  box-shadow: 0px 10px 13px 8px #a6bec9;
}

.product-img {
max-height: 160px;
object-fit: contain;
transition: transform 0.5s ease;
}


.product-img:hover {
transform: scale(1.09);
}


.nombre {
font-size: 16px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}