
.logo-img {
  width: 350px;       
  object-fit: contain;
}


.menu-principal{
  background-color: #6D0E0A;
  border-radius: 1.5vh;
  padding: 4px 0;
  margin: 0 auto;
  max-width: 730px;    
}


.menu-principal .nav-link {
  color: white ;
  margin: 0  40px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.character-card {
background: #330505;
color: white;
border: none;
height: 240px;
}

.character-img {
max-width: 100%;
max-height: 100%;
object-fit: contain;
}


.video-wrapper {
width: 100%;
max-width: 900px;
height: 280px;
overflow: hidden;
border-radius: 12px;
}


.video-img {
width: 100%;
height: 100%;
object-fit: cover;
}


.play-overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.35);
}





.integrante-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #eeeeee, #cfcfcf);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #6D0E0A;
}

.integrante-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}




.barra-difuminada {
  background: linear-gradient(
    to bottom,
    transparent,
    #6D0E0A 20%,
    #6D0E0A 62%,
    transparent
  );
  padding: 60px 10px;
  font-weight: 500;
}









.footer-visumbrio {
  background-color: #ffffff;
  text-align: center;
  padding: 40px 0 30px;
}

/* ICONOS */
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 25px;
}

.footer-icons i {
  font-size: 1.8rem;
  color: #8b1e1e;
  cursor: pointer;
}

/* LINKS */
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: #8b1e1e;
  font-size: 0.95rem;
  margin-bottom: 18px;
}

.footer-links span {
  cursor: pointer;
}

.footer-links .divider {
  cursor: default;
}

/* COPYRIGHT */
.footer-copy {
  color: #8b1e1e;
  font-size: 0.85rem;
  margin: 0;
}






.play-overlay {
  position: absolute;
  inset: 0;
}

.video-play-icon {
  font-size: 5rem;
  color: #000000;
}

